.container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0;
    height: 20px;
}

.close {
    /* position: absolute; */
    display: block;
    top: 8px;
    right: 2px;
    width: 40px;
    height: 32px;
    opacity: 0.6;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    /* left: 15px; */
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: black;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }