.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(10, 78, 100, 0.8);
  border-radius: 6px;
  color: black;
  width: 220px;

  height: 44px;
  margin: 4px;
  background: #4f78ee;
  background: transparent;
  border: 2px solid black;
}

@media (min-width: 800px) {
  .button {
    width: 160px;
  }
}

@media (min-width: 1000px) {
  .button {
    width: 220px;
  }
}

.edit {
  width: 66px;
}

.button:hover {
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.big {
  width: 120px;
  /* margin: 0; */
}

.big:hover {
  background: #4fc7ee;
}

@media (min-width: 700px) {
  .big {
    width: 160px;
  }
}

.bigBtn:hover {
  background: #4fc7ee;
}

.hugebtn {
  width: 220px;
}

@media (min-width: 800px) {
  .hugebtn {
    width: 160px;
  }
}

@media (min-width: 1000px) {
  .hugebtn {
    width: 220px;
  }
}

.hugebtn:hover {
  background: #4fc7ee;
}

.container {
  position: relative;
  margin: 0 6px 0 6px;
  width: 100%;
}

.icon {
  font-size: 20px;
}

.tip {
  color: black;
  background: #f7f9fe;
  position: absolute;
  top: 54px;
  left: -48px;
  width: 160px;
  padding: 6px;
  z-index: 10;
  margin: 0px 0px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.tip-arrow-border {
  position: absolute;
  top: -9px;
  left: 70px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  width: 0;
  height: 0;
}

.tip-arrow-background {
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  width: 0;
  height: 0;
}

.edittip {
  left: 22px;
}

.bigtip {
  left: 26px;
}

.biggertip {
  left: -23px;
}

@media (min-width: 700px) {
  .biggertip {
    left: -3px;
  }
}

@media (min-width: 800px) {
  .tip {
    left: -2px;
  }
}

@media (min-width: 1000px) {
  .tip {
    left: -48px;
  }

  .edittip {
    left: 22px;
  }

  .bigtip {
    left: 26px;
  }
}

.hidden {
  display: none;
}

.addBtn {
  margin: 16px auto 0 auto;
}

.addBtn:hover {
  background: #4fc7ee;
}
