.todolist {
    width: 30%;
    border: 1px solid grey;
    /* height: 70vh; */
    min-height: 80vh;
    margin: 10px;
    padding: 6px;
}

.todolist ul {
    list-style: none;
    padding: 0;
}

.todolist h2 {
    text-align: center;
}