.item {
    position: relative;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #4feec6;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    overflow: visible;
}

.item:hover {
    background: #4feec6;
    box-shadow: 0px 10px 20px -5px rgba(50, 50, 93, 0.25), 0px 6px 14px -8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 450px) {
    .item {
        width: 300px;
    }
}

@media (min-width: 700px) {
    .item {
        min-width: 180px;
        width: 250px;
        margin: 0 12px;
        height: 166px;
    }
}

@media (min-width: 850px) {
    .item {
        height: auto;
    }
}

.item__title {
    margin: 6px;
    font-weight: lighter;
    font-size: 16px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.actionsedit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 300px;
    width: 225px;
}

@media (min-width: 450px) {
    .actionsedit {
        flex-direction: row;
    }
}

@media (min-width: 850px) {
    .actions {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    .actionsedit {
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    .actionsedit button {
        width: 160px;
    }

    .item {
        width: 180px
    }
}

@media (min-width: 1000px) {

    .item {
        width: 220px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 200px;
    }

    .actionsedit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 300px;
        width: 200px;
    }

    .actions button,
    .actionsedit button {
        width: 200px;
    }
}

.tip {
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@media (max-width: 500px) {
    .tip {
        display: none;
    }
}

.tip:hover {
    opacity: 1;
}

.actions button:hover + .tip {
    opacity: 1;
}