.item {
    position: relative;
    /* z-index: 0; */
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #4feec6;
    text-align: center;
    /* box-sizing: border-box;
    width: 200px; */
    /* trying to animate the item when editing starts */
}

.item:hover {
    background: #4feec6;
    box-shadow: 0px 10px 20px -5px rgba(50, 50, 93, 0.25), 0px 6px 14px -8px rgba(0, 0, 0, 0.3);
}

.item h3 {
    margin: 6px;
    font-weight: lighter;
    font-size: 16px;
}

.actions {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* width: 200px; */
    margin: 0 auto;
}

@media (max-width: 800px) {
    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .actions button {
        width: 50%;
        min-width: 85px;
    }
}

/* I will try achieve my idea with onMouseEnter and useState in Button */
/* I wanna keep the opacity animation */

.tip {
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

/* .actions button:hover + .tip {
    opacity: 1;
} */

@media (max-width: 500px) {
    .tip {
        display: none;
    }
}

.tip:hover {
    opacity: 1;
}

.actions button:hover + .tip {
    opacity: 1;
}

/* .actions button {
    display: block;
    width: 100%;
    margin-bottom: 4px;
} */